<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="seconddiv" th:fragment="header">
            <img th:src="@{/images/hand-holding-a-drop-of-blood-world-blood-donor-day-blood-donation-illustration-donor-symbol-blood-donation-symbol-free-png.webp}" width="70px" >
            <a href="/"><b>Home</b></a>
            <a href="/search/searchPage"><b>Search</b></a>
            <a href="#"><b>Live Blood Camp</b></a>
            <a href="/blood/regiPage"><b>Donor Register</b></a>
            <a href="/login"><b>Login</b></a>
            <a href="/blood/contactUs"><b>Contact Us</b></a>
            <a href="/blood/about"><b>About US</b></a>

    </div>
</body>
</html>
