<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (content)"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=1.0}">
</head>
<body>
    <div sec:authorize="!isAuthenticated()" th:replace="~{fragments/new_header :: new_header}"></div>
    <div sec:authorize="isAuthenticated()" th:replace="~{fragments/new_logged_in_header :: new_logged_in_header}"></div>
    <div th:replace="${content}"></div>
</body>
</html>