<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🩸Blood Bank Management System</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main" style="background-image: url(about.jpg);background-repeat: no-repeat; background-size: cover; width: 1520px;
    height: 100%;">
        <div class="firstdiv">
            <h1>Blood Bank Management System</h1>
        </div>
        <div class="seconddiv" th:replace="~{fragments/header :: header}">
        </div>
        <div class="about">

            <h1>About Us</h1>

            <p class="cont">Every Blood Is A Life Sarver.</p>
            <h2 class="cont">"Donor Technologies Pvt Ltd "</h2>

            <pre
                style="font-size: 17px; margin-top: 60px;">A blood bank is a vital facility that collects, tests, processes, and stores blood and its components for medical use. 
                It plays a crucial role in providing safe blood for transfusions, particularly for patients undergoing surgery, trauma care, 
                or those with certain medical conditions. Blood banks actively recruit voluntary donors, ensuring that donated blood is thoroughly 
                screened for infectious diseases and properly typed to match recipients. The collected blood is separated into its components—such as 
                red blood cells, plasma, and platelets—each tailored to meet specific patient needs. With stringent storage protocols to maintain blood 
                viability, blood banks work closely with hospitals to ensure a reliable supply for emergencies, making them essential to modern healthcare.</pre>

            <div style="background-color: red; background-size: 200px,250px; height: 30px;">
                <p class="cv">Copyright © 2024 healthFROG All rights reserved.</p>
            </div>