<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<head>
    <title>🩸Blood Bank Management System</title>
<!--    <link rel="stylesheet" th:href="@{/css/input.css}">-->
</head>
<body>
    <div th:fragment="content">
        <div class="slideshow-container relative">
            <div class="mySlides fade">
                <img th:src="@{/images/1462-1024x682 1.jpg}" class="w-full h-screen object-cover">
                 <div class="text absolute bottom-0 w-full text-center text-white p-4 bg-black bg-opacity-50">
                    <p class="text-xl">Just Donate blood</p>
                    <p class="text-sm">Donating blood is safe</p>
                </div>
            </div>

            <div class="mySlides fade">
                <img th:src="@{/images/1686728961-blood-bank 2.jpg}" class="w-full h-screen object-cover">
                <div class="text absolute bottom-0 w-full text-center text-white p-4 bg-black bg-opacity-50">
                    <p class="text-xl">Just Donate blood</p>
                    <p class="text-sm">Donating blood is safe</p>
                </div>
            </div>

            <div class="mySlides fade">
                <img th:src="@{/images/blood.webp}" class="w-full h-screen object-cover">
                <div class="text absolute bottom-0 w-full text-center text-white p-4 bg-black bg-opacity-50">
                    <p class="text-xl">Just Donate blood</p>
                    <p class="text-sm">Donating blood is safe</p>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <span class="dot inline-block bg-gray-400 rounded-full h-3 w-3 mx-1"></span>
            <span class="dot inline-block bg-gray-400 rounded-full h-3 w-3 mx-1"></span>
            <span class="dot inline-block bg-gray-400 rounded-full h-3 w-3 mx-1"></span>
        </div>
    </div>
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
</body>
</html>
